<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5451064655705220";
/* First */
google_ad_slot = "8276506850";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>